
<div class="container">
  <h1>Air.ly main site</h1>

  <div class="col-md-8">
    <h2>Google maps here</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.5455966575478!2d24.835151851647833!3d60.18825324881121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468df5f2011bdf1f%3A0x8b115b440758149c!2sBratislawa+Youghurt!5e0!3m2!1sfi!2sfi!4v1479229549494" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <div class="col-md-4 status">
    <h2>Status</h2>
    <ul>
      <li>
        1. Lastataan
      </li>
      <li>
        2. Lennetään
      </li>
      <li>
        3. Valmis!
      </li>
    </ul>
  </div>
</div>
