
<div class="container" ng-controller="userControl as ctrl">
  <!--h1>Air.ly main site</h1-->

  <div class="col-xs-8">
    <!--h2>Google maps here</h2-->
    <div class="row">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' events='map.events'></ui-gmap-google-map>
      <!--div> Delivery: <%= deliveryId %></div-->
    </div>
  </div>
  <div class="col-xs-2 status">
    <h2>Status</h2>
    <ul>
      <li>
        1. Lastataan
      </li>
      <li>
        2. Lennetään
      </li>
      <li>
        3. Valmis!
      </li>
    </ul>
  </div>
</div>
