
<div class="container">
  <h1>Shop example</h1>
  <p>You selected some other delivery method than Air.ly. Sucks for you! The package delivery may take up to a day, but with Air.ly it would have taken only an hour.</p>
</div>
