/* Style.css for Air.ly */


/*
Orange - #ef6c00
Cyan - #4db6ac
*/

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  z-index: 0;
}

h1 {
  font-size: 2em;
}

.status {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 2em;
}

.angular-google-map-container {
  /*height: 40em;*/
  min-height: 85vh;
  max-height: 85vh;
}

.airly-font {
  color: #4db6ac;
  font-weight: bolder;
  margin-top: 0;
  padding: 0 0.5em;
  font-size: 2em;
}

.airly-font>li>a {
  font-family: 'Droid Sans', sans-serif;
  color: white !important;
  font-weight: bold;
  font-size: 0.6em;
  padding: 0 1em;
  margin-top: 1em;
}

.airly-font>li>a:hover {
  background-color: yellow;
}

.airly-font-logo-first {
  color: white !important;
  font-size: 4em;
  font-family: 'Kaushan Script', cursive;
}

.airly-nav-bar {
  background-color: #ef6c00;
  padding: 0.5em;
}

.airly_list_group {
  border: 0 !important;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 1em;
  min-width: 160px;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-block {
  padding: 1em;
}

.card-img-top {
  width: 100%;
  height: auto;
}
