<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/head.ejs %>
  </head>

  <body ng-app="airlyApp">
    <script src='//maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyCU7jdk0bL-HPIA0r_yjbQVUA-zWZaMMps'></script>
    <% include ../partials/nav %>

    <%- include('../partials/'+page+'.ejs') %>

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/angular.min.js"></script>
    <script src="js/ngGeolocation.min.js"></script>
    <script src="js/lodash.js"></script>
    <script src="js/angular-simple-logger.js"></script>
    <script src="js/angular-google-maps.min.js"></script>
    <script src="js/lodash.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
